    <br><br>
    <div class="row fixed-bottom footer text-center card-footer" style="text-align: center;">
        <div class="col-sm-12">
            <a href="/"><h1 class="display-4">Home</h1></a>
        </div>  
        <div class="col-sm-12">
            <div class="display-4 "> Made by PIRAVI</div>
        </div>        
    </div>
</body>
</html>
