<%- include('../includes/head.ejs') %>
</head>
<body>   
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 border-1 border-dark border-bottom">                
                <h1 class="display-4" style="float: left;"><b>Cooky</b></h1>                                                                                                                                                                                            
            </div>            
            <div class="col-sm-6">
                <h1 class="display-4" style="float: right;">Recipe Creator</h1>
            </div>           
        </div> 
        <div class="row">
            <div class="col-sm-6">
                <form id="recipeForm" action="/recipe/create" class="form-group"  method="post">
                    <label for="recipeTitleText">Title</label>
                    <input required class="form-control" type="text" name="recipeTitleText" id="recipeTitleText">
                    <label for="recipeDescription">Description</label>
                    <input required class="form-control" type="text" name="recipeDescription" id="recipeDescription">
                    <label for="ingredientList">Ingredients</label>
                    <input required class="form-control" type="text" name="ingredientList" readonly id="ingredientList">                                
                    <label for="ing">Ingredients</label>
                    <div class="form-control" style="display: inline-flex;">
                        <div class="col-sm-8 p-2">
                            <select class="form-control form-select" name="ingredients" id="ing">
                                <% for(let ing of ingredients){%>
                                    <option selected value="<%=ing.title%>"><%=ing.title%></option>
                                <%}%>
                            </select> 
                        </div>                            
                        <div class="col-sm-4 p-2">
                            <button onclick="addIngredient()" type="button" class="btn btn-dark form-control"><span class="bi bi-plus"></span></button>                                                                       
                        </div>    
                    </div>   
                    <label for="newIngredient">Add New Ingredient</label>
                    <input class="form-control" type="text"  name = "newIngredient" onkeyup="disableIngList()" id = "newIngredient">                 
                    <br><br>
                    <button type="submit" class="btn btn-success form-control">Create Recipe</button>
                </form>
            </div>
            <div class="col-sm-6 border border-dark border-1">
                <h6 class="display-4">Upcoming Features...</h6>
            </div>
        </div>           
    </div>                      
<%- include('../includes/footer.ejs') %>
