<%- include('../includes/head.ejs') %>

</head>
<body> 
    <div class="container">
        <div class="row">
            <div class="col-sm-12">   
                <h1 class="display-6"><b>Cooky</b></h1>                       
                <div class="row">
                    <div class="col-sm-12">
                        <h1 class="display-4"><%=recipe.title%></h1>
                        <p><%=recipe.description%></p>
                    </div>                        
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <a href="/"><h1 class="display-6">Home</h1></a>
                    </div>                        
                </div>                   
            </div>
        </div>
    </div>
</div>



<%- include('../includes/footer.ejs') %>