<%- include('../includes/head.ejs') %>
</head>
<body>   
    <div class="container">
        <div class="row">
            <div class="col-sm-12">                
                <h1 class="display-4"><b>Cooky</b></h1>                                          
                <div class="row">
                    <div class="col-sm-12">
                        <h1 class="display-4">Recipe Follower</h1>
                    </div>                        
                </div>              
                <div class="row">
                    <div class="col-sm-12">
                        <a href="/"><h1 class="display-4">Home</h1></a>
                    </div>                        
                </div>                                                                                                        
            </div>            
        </div>
    </div>                     
<%- include('../includes/footer.ejs') %>