<%- include('../includes/head.ejs') %>
</head>
<body>   
    <div class="container-fluid" style="padding: 0;">
        <div class="row">
            <div class="col-sm-12 border-1 border-dark border-bottom">                
                <h1 class="display-4"><b>Cooky</b></h1>                                                         
            </div>            
        </div>     
        <div class="row voffset9">               
            <div class="col-sm-3 homeButtons">                            
                <button id="btnOne" type="button" class="btn btn-outline-dark form-control">Create Recipe</button>
            </div>
            <div class="col-sm-3 homeButtons">                            
                <button id="btnTwo" type="button" class="btn btn-outline-dark form-control">Follow Recipe</button>  
            </div>                                                                           
        </div>    
        <div class="row voffset9">
            <div class="col-sm-12 border border-1 border-dark">
                <h6 class="display-6" style="text-align: center;">
                    Updates & Feed Coming Soon...
                </h6>
            </div>
        </div>    
    </div>                     
<%- include('../includes/footer.ejs') %>