<%- include('../includes/head.ejs') %>
</head>
<body>    
    <h1>You've hit User Home Page</h1>   
    <button class="btn btn-outline-dark">Bootstrap is On</button>
    <script>
        $(document).ready(()=>{alert("JQuery Ready!");});
    </script>
<%- include('../includes/footer.ejs') %>