<%- include('../includes/head.ejs') %>
</head>
<body> 
    <div class="container-fluid">
        <h1>Work In Progress<a href="/">Go Home</a></h1>
    </div>       

    
<%- include('../includes/footer.ejs') %>
