.homeButtons{
    height: 40vh;
}
@media only screen and (max-width: 600px) {
    .homeButtons{
        height: 20vh;
    }
}
.clickable-row{
    cursor: pointer;
}
.clickable-row:hover{
    background-color:lemonchiffon;
}